html, body {
    background: #8cf2eb;
    height: 100%;
    color: #316769;
    text-align: center;
}

h1 {
    color: #316769;
}

#outputText {
    font-size: 3em;
    background-color: #316769;
}

#convertButton {
    background-color: #316769;
    border: none;
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 0.2em 1.2em;
}


#convertButton:active {
   background: #FF6769;
}

#inputField {
    font-size: 1.2em;
    text-align: center;

}