html,body{
    padding:0;
    margin: 0;
    background-color: #000000;
    color: black;
}

#mainContainer{
    height: 100%;
    width: 100%;
    padding:  0 auto;
}

#playContainer{
    margin: 0 auto;
    height: 50vh;
    width: 30%;
    
}

#controlContainer{
    margin: 0 auto;
    height: 50%;
    width: 30%;
}

#playStopButton{
    width: 100%;
    height: 100%;
    background-color: #c9ff7c;
}

#thresholdContainer{
    background-color: #fac18b;
    width: 100%;
    
    
}
#ratioContainer{
    background-color: hsl(286, 100%, 78%);;
    width: 100%;
}
#kneeContainer{
    background-color: #85fad7;;
    width: 100%;
}
#attackContainer{
    background-color: rgb(137, 250, 133);;
    width: 100%;
}
#releaseContainer{
    background-color: rgb(250, 133, 133);;
    width: 100%;
}
#reductionOutput{
    color: azure;
}

.slider{
    width: 80%;
}
