html,body{
    padding:0;
    margin: 0;
    background-color: #000000;
    color: black;
}

#mainContainer{
    height: 100%;
    width: 100%;
}

#playContainer{
    height: 50%;
    width: 100%;
}

#controlContainer{
    height: 50%;
    width: 100%;
}

#playStopButton{
    width: 100%;
    height: 100%;
}

#gainContainer{
    background-color: #fac18b;
    width: 30%;
    margin: 0 auto;
    
}
#panningContainer{
    background-color: hsl(286, 100%, 78%);;
    width: 30%;
    margin: 0 auto;
}
#delayContainer{
    background-color: #85fad7;;
    width: 30%;
    margin: 0 auto;
}

#gainSlider{
    width: 80%;
}
#panningSlider{
    width: 80%;
}
#delaySlider{
    width: 80%;
}
